<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Token" value="AA7A6ACBD5D7D0C1A897F5FDACB53EB6"/>
		<add key="PathToSaveReport" value="C:\folderToDel\"/>
		<add key="Month" value="11"/>
		<add key="Year" value="2023"/>
		<add key="StartPoint" value="17000"/>
		<add key="EndPoint" value="17544"/>
	</appSettings>
</configuration>